@font-face {
    font-family: 'netflix';
    src: url('NetflixSans-Regular.otf') format('truetype');
}

body::before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url('eternity.png');
    background-size: cover;
    background-position: center;
    opacity: 0.10; 
    z-index: -2;
    transition: opacity 10s ease-in-out;
}

body {
    margin: 40px;
    font-family: netflix, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
}

h1 {
    font-size: 3rem;
    color: #e50914;
    margin-bottom: 10px;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.8);
}

h2 {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}

p {
    font-size: 1.2rem;
    margin: 10px 0;
    max-width: 600px;
    line-height: 1.6;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    text-align:left;
}

.movie-poster {
    width: 300px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 0 20px #e50914;
}

.info {
    font-size: 1rem;
    color: #ccc;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    text-align:left;
    padding:20px;
}

.p2-main-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    padding-top:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: 'netflix', sans-serif;
}

.movie-title {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.movie-title h1 {
    font-size: 3rem;
    color: #e50914;
    margin: 0;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.8);
}

.movie-title h2 {
    font-size: 1.5rem;
    margin: 5px 0 0 0;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}

.movie-details {
    display: flex;
    width: 100%;
    gap: 40px;
    justify-content: space-between;
}

.about, .info {
    flex: 1;
}

.about p, .info p {
    line-height: 1.4;
    max-width: 450px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

.info p {
    margin-top:10px;
    line-height: .8;
}

.video-wrapper {
    width: 825px;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px #e50914;
    margin: 20px 0;
}

.video-wrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
}