@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'netflix';
    src: url('NetflixSans-Regular.otf') format('truetype');
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('hamnet_clean.png');
    background-size: cover;
    background-position: center;
    opacity: 0.10;
    transition: opacity 5s ease-in-out;
    z-index: -2; 
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('eternity.png');
    background-size: cover;
    background-position: center;
    opacity: 0; 
    transition: opacity 5s ease-in-out;
    z-index: -2;
}


body.show-eternity::before {
    opacity: 0; 
}

body.show-eternity::after {
    opacity: 0.05;
}


body {
    margin: 0;
    font-family: netflix;
    padding: 0;
    background: linear-gradient(180deg, #141414 0%, #000000 100%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

body > div {
    display: flex;
    width: 80%;
    max-width: 1000px;
    height: 70%;
}

section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section:first-child {
    padding-right: 20px;
    border-right: 1px solid #444;
}

section:last-child {
    padding-left: 20px;
}

section:first-child .main-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: center; 
    height: 100%;
    padding-left: 40px; 
    text-align: left;
    padding-right:150px;
}

.main-container h1,
.main-container #animatedText,
.main-container input,
.main-container button {
    align-self: flex-start; 
}

.main-container input,
.main-container button {        
    max-width: 1050px;    
    box-sizing: border-box; 
}


h1 {
    font-size: 3rem;
    color: #e50914;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

#animatedText {
    font-family: netflix;
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 20px;
    text-align: left;        
    width: 100%;            
    max-width: 400px;       
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}



input {
    width: 250px;
    padding: 12px 15px;
    font-size: 18px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    background-color: #222;
    color: #fff;
    transition: box-shadow 0.3s ease;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px #762c14;
}

button {
    width: 250px;
    padding: 12px 15px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: #e50914;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
    transform: scale(1.05);
    background-color: #ff1a2a;
}

.error {
    color: #ff3333;
    margin-top: 15px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.password-wrapper {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-bottom: 15px;
}

.password-wrapper input {
    flex: 1; 
    padding: 12px 15px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: #222;
    color: #f0f0f0;
    transition: box-shadow 0.3s ease;
}

.password-wrapper input:focus {
    outline: none;
    box-shadow: 0 0 10px #762c14;
}
.toggle-password {
    padding: 12px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-password:hover {
    background-color: #777;
}

#togglePasswordImg {
    transition: filter 0.3s ease; 
}

#togglePasswordImg:hover {
    filter: brightness(2.5);
}